#settingsContainer {
    margin-top: 15px;
    margin-left: 5px;
    width: 90%;
}

.setting-container {
    margin-top: 25px;
}

.setting-button {
    margin-top: 10px;
}

#appModeCheck {
    margin-left: 1px;
}

#initSocketSettingsContainer {
    margin-top: 55px;
}

#socketSettingsContainer {
    margin-top: 55px;
}