
#settingsContainer {
    margin-top: 15px;
    margin-left: 5px;
    width: 90%;
}

#loginButton {
    margin-top: 10px;
}

#userNameSettingsContainer {
    margin-top: 25px;
}

#nameSubmitButton {
    margin-top: 10px;
}

#testContainer {
    margin-top: 25px;
}

#sendMessageButton {
    margin-top: 10px;
}

#initSocketSettingsContainer {
    margin-top: 25px;
}

#createRoomContainer {
    margin-top: 25px;
}

#roomSubmitButton {
    margin-top: 10px;
}

#roomIdContainer {
    margin-top: 25px;
}