<div id="settingsContainer" class="row">
  <div class="col">

    <div class="row">
      <div class="col">
        <span id="instructionText" class="text-primary">Click the button to logout of Apple Music</span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button id="loginButton" type="button" class="btn btn-primary border" (click)='unauthorizeUser()'>Logout</button>
      </div>
    </div>

    <div id="userNameSettingsContainer" class="row">
      <div class="col">
        <h4>Current Username: {{ this.getUserName() }}</h4>
        <input type="text" class="form-control" placeholder="Username" id="nameInput"/>
        <button id="nameSubmitButton" type="button" class="btn btn-primary border" (click)='setUserName()'>Submit</button>
      </div>
  </div>
</div>