
#settingsContainer {
    margin-top: 15px;
    margin-left: 5px;
    width: 90%;
}

#loginButton {
    margin-top: 10px;
}

#userNameSettingsContainer {
    margin-top: 25px;
}

#nameSubmitButton {
    margin-top: 10px;
}