<table class="table table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Artist</th>
      <th>Album</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let song of songs;" [ngClass]="isSelectedSong(song) ? 'table-primary' : ''" (click)="onSongSelected(song)">
      <td>{{song.attributes.name}}</td>
      <td>{{getMinutesAndSeconds(song.attributes.durationInMillis)}}</td>
      <td>{{song.attributes.artistName}}</td>
      <td>{{song.attributes.albumName}}</td>
    </tr>
  </tbody>
</table>