<div id="musicPlayer">
  <div id="playerSongInfo">
    <img 
      id="currentTrackArtworkImg" 
      *ngIf="getIsCurrentlyPlaying()"
      height="{{getArtworkHeight()}}"
      width="{{getArtworkWidth()}}"
      [src]="getCurrentSongArtworkUrl()"
    />
    <span>{{ getCurrentSongInfo() }}</span>
  </div>
  <div id="playerControls">
    <button (click)='onPrevious()'>prev</button>
    <button (click)='onPlay()'>play</button>
    <button (click)='onPause()'>pause</button>
    <button (click)='onStop()'>stop</button>
    <button (click)='onNext()'>next</button>
  </div>
</div>