#playerDiv {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
}

#artworkCol {
    max-width: 50px;
    max-height: 50px;
    margin-right: 5px;
}

#controlsRow {
    margin-top: 5px;
}