#playerDiv {
    display: inline-block;
}

.music-player-content {
    padding: 5px;
    margin-top: 10px;
}

#artworkCol {
    max-width: 50px;
    max-height: 50px;
    margin-right: 5px;
}

#controlsRow {
    margin-top: 5px;
}

#infoRow {
    margin-top: 3px;
}