<div id="mainContainer" class="container-fluid">
  
  <div *ngIf="this.isUserAuthorized()">
    <div class="row navRow">
      <div class="col-2 navigationCol">
        <app-navigation></app-navigation>
      </div>
      <div class="col-10 contentCol">
        <router-outlet></router-outlet>
      </div>
    </div>
    
    <div class="row playerControlsRow fixed-bottom">
      <div class="col" align="center">
        <app-music-player></app-music-player>
      </div>
    </div>
  </div>

  <div *ngIf="!this.isUserAuthorized()">
    <app-authentication></app-authentication>
  </div>
</div>
