#navRow {
    border: 1px solid red;
    max-height: 90vh; /** must add up to 100 when added to the height in #playerControlsRow **/
    min-height: 90vh;
}

#playerControlsRow {
    border: 1px solid blue;
    background: grey;
    height: 10vh; /** must add up to 100 when added to the max-height in #navRow **/
}

#contentCol {
    overflow-y: scroll;
}