<div id="searchContainer">
  <div id="searchInputContainer">
    <input 
      type="text" 
      class="form-control" 
      placeholder="Search" 
      id="searchInput"
      (keyup)="searchOnKeyUp($event.target.value)"/>
  </div>

  <div id="searchTypeButtonGroup" class="btn-group" role="group">
    <button id="libraryButton" type="button" class="btn border search-button" 
        [ngClass]="this.isActiveButton('library')"
        (click)="this.changeButton('library')">
      Library
    </button>
    <button id="appleMusicButton" type="button" class="btn border search-button" 
        [ngClass]="this.isActiveButton('apple')"
        (click)="this.changeButton('apple')">
      Apple Music
    </button>
  </div>
  
  <div id="searchTabContainer">
    <mat-tab-group id="searchTabGroup">
        <mat-tab label="Songs">
          <app-list-song *ngIf="this.songResults" 
            [songs]="this.songResults" 
            [showArtwork]="true" 
            [showHeaders]="false" 
            [showRequestedBy]="false"
            [allowSongSelection]="true"
            [shouldFilterNonAppleMusicIfApplicable]="true"
            [canRemoveSongFromQueue]="false">
          </app-list-song>
        </mat-tab>
        <mat-tab label="Artists">
          <app-list-artist *ngIf="this.artistResults" [artists]="this.artistResults" [showHeaders]="false"></app-list-artist>
        </mat-tab>
        <mat-tab label="Albums">
          <app-list-collection *ngIf="this.albumResults" [collections]="this.albumResults"></app-list-collection>
        </mat-tab>
        <mat-tab label="Playlists">
          <app-list-collection *ngIf="this.playlistResults" [collections]="this.playlistResults"></app-list-collection>
        </mat-tab>
      </mat-tab-group>
  </div>
</div>
