#searchContainer {
    margin: 40px;
    height: 100%;
}

#searchInput {
    margin-bottom: 20px;
}

app-list-collection {
    margin: 50px;
    padding: 50px;
}

.search-button {
    width: 200px;
}

#searchTypeButtonGroup {
    margin-bottom: 20px;
}

#searchTabContainer {
    height: 100%;
}
/deep/.mat-tab-body-wrapper {
    min-height: 100%;
}

#searchTabGroup {
    height: 100%;
}