<div id="searchContainer">
  <div id="searchInputContainer">
    <input 
      type="text" 
      class="form-control" 
      placeholder="Search" 
      id="searchInput"
      (keyup)="searchOnKeyUp($event.target.value)"/>
  </div>

  <div id="searchTypeButtonGroup" class="btn-group" role="group">
    <button id="libraryButton" type="button" class="btn border search-button" 
        [ngClass]="this.isActiveButton('library')"
        (click)="this.changeButton('library')">
      Library
    </button>
    <button id="appleMusicButton" type="button" class="btn border search-button" 
        [ngClass]="this.isActiveButton('apple')"
        (click)="this.changeButton('apple')">
      Apple Music
    </button>
  </div>
  
  <div id="searchAccordionContainer">
    <ngb-accordion [closeOthers]="true">
      <ngb-panel id="songPanel" title="Songs" *ngIf="this.songResults.length > 0">
        <ng-template ngbPanelContent>
          <app-list-song *ngIf="this.songResults" 
            [songs]="this.songResults" 
            [showArtwork]="true" 
            [showHeaders]="false" 
            [showRequestedBy]="false"
            [allowSongSelection]="true"
            [shouldFilterNonAppleMusicIfApplicable]="true"
            [canRemoveSongFromQueue]="false">
          </app-list-song>
        </ng-template>
      </ngb-panel>
    
      <ngb-panel id="artistPanel" title="Artists" *ngIf="this.artistResults.length > 0">
        <ng-template ngbPanelContent>
          <app-list-artist *ngIf="this.artistResults" [artists]="this.artistResults" [showHeaders]="false"></app-list-artist>
        </ng-template>
      </ngb-panel>
    
      <ngb-panel id="albumPanel" title="Albums" *ngIf="this.albumResults.length > 0">
        <ng-template ngbPanelContent>
          <app-list-collection *ngIf="this.albumResults" [collections]="this.albumResults"></app-list-collection>
        </ng-template>
      </ngb-panel>
    
      <ngb-panel id="playlistPanel" title="Playlists" *ngIf="this.playlistResults.length > 0">
        <ng-template ngbPanelContent>
            <app-list-collection *ngIf="this.playlistResults" [collections]="this.playlistResults"></app-list-collection>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
