<div id="authContainer" class="row border" align="center">
  <div class="col">

    <div class="row">
      <div class="col">
        <h1 id="welcomeText">Welcome to Apple Music Share</h1>
        <span id="instructionText" class="text-primary">Click the login button to authenticate with Apple</span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button id="loginButton" type="button" class="btn btn-primary border" (click)='authorizeUser()'>Login</button>
      </div>
    </div>

  </div>
</div>